  <nav>
    <div class="nav-wrapper orange lighten-3">
      <a href="<%= root_url %>" class="brand-logo center">Mood Tracker</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if logged_in? %>
          <li><a href="<%= factors_path %>">Factors</a></li>
          <li><a href="<%= graph_path %>">Graph</a></li>
        <% end %>
        <li>
        <li>
          <% if logged_in? %>
            <a href="<%= logout_path %>">Logout</a>
          <% else %>
            <a href="<%= login_path %>">Login</a>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>