<%= form_for @factor, url: factors_path do |f| %>
  <%= hidden_field_tag :custom, true %>

  <%= label_tag :factor %>
  <%= text_field_tag 'factor' %>

  <%= label_tag :factor_type %>
  <br>
  <%= radio_button_tag 'factor_type', 'Yes or no', true, {style: 'opacity:1;left:0;position:inherit'} %> Yes or no
  <br>
  <%= radio_button_tag 'factor_type', 'Numeric', false, {style: 'opacity:1;left:0;position:inherit'} %> Numeric

  <br><br><br>
  
  <div class="row">
  	<a class="waves-effect waves-light btn orange lighten-3 col s2"><%= f.submit "Create" %></a>
  	<a href="<%= factors_path %>" class="waves-effect waves-light btn grey lighten-1 col s2 offset-s1">Cancel</a>
  </div>

<% end %>